[submodule "Source/ThirdParty/glfw"]
	path = Source/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Source/ThirdParty/yaml-cpp"]
	path = Source/ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
